.homepage-widget {
  h4 {
    font-size: 30px;
    color: $color-light;
    text-align: center;
    font-weight: bolder;
  }

  p {
    color: $color-light;
  }

  .objectp {
    text-align: center;
  }

  .object.order .objectp {
    transform: translateY(-18px);
    visibility: hidden;
  }

  .object.order:hover .objectp {
    visibility: visible;
    transform: translateY(-40px);
    transition: 1s;
  }

  .object.reserve .objectp {
    transform: translateY(-18px);
    visibility: hidden;
  }

  .object.reserve:hover .objectp {
    visibility: visible;
    transform: translateY(-40px);
    transition: 1s;
  }

  .object:hover h4 {
    transform: translateY(-20px);
    transition: 1s;
  }

  .homepage_firstlevel {
    margin-top: 20px;
    margin-left: -10px;
    display: flex;
    flex: 0 0 48%;
  }

  .object {
    flex: 0 0 50%;
    margin: 0 10px;
    height: 150px;
    background-position: center;
    background-size: cover;
    transition: 1s;

    h4 {
      padding-top: 30px;
    }
  }

  .order {
    background-image: url(../images/homepage/pizza-1.jpg);
  }

  .reserve {
    background-image: url(../images/homepage/pizza-2.jpg);
  }

  .information {
    width: 105%;
    background: red;
    margin-top: 10px;
    text-align: center;
    padding: 30px;
    margin-right: 10px;
  }
}

.home-wrapper {
  max-width: 800px;
  text-align: right;
  transform: translateX(35px);

  .home_gallery {
    width: 33%;
    display: inline-block;
    margin: 15px 0;

    .home_picture {
      display: flex;

      i {
        padding: 0 5px;
        font-size: 25px;
        color: $color-light;
        flex-direction: row;
        transform: translate(-70px, 60px);
        height: 20px;
        opacity: 1.5;
        transition: 1s;
      }

      i:hover {
        color: $color-main;
        opacity: 1;
      }

      img {
        height: 150px;
        width: 80%;
      }
    }

    .home_picture:hover i {
      transition: 1s;
      opacity: 1;
    }

    .overlay {
      width: 200px;
      height: 150px;
      position: absolute;
      background-color: #000;
      opacity: 0;
    }
    
    .overlay:hover {
      opacity: 0.6;
      transition: 1s;
    }
  }
}

.link {
  color: $color-main;
  text-align: center;
  font-size: 13px;
  margin: 20px;
  transform: translateX(-17%);
  text-decoration: underline;
}

.main-carousel {
  height: 300px;
  margin: 50px 0;

  .carousel-cell {
    width: 100%; /* full width */
    height: 300px;
    /* center images in cells with flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;

    h4 {
      position: absolute;
      transform: translate(200px, -110px);
      font-size: 30px;
      color: $color-dark;
    }

    p {
      color: $color-dark;
      width: 150px;
      text-align: center;
      transform: translateX(20px);
    }

    .sign {
      transform: translate(-100px, 80px);
    }
  }

  .carousel.is-fullscreen .carousel-cell {
    height: 300px;
  }

  .carousel-cell img {
    display: block;
    max-height: 300px;
    padding: 5px;
    width: 60%;
  }
}
